@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-size: 25px;
    font-weight: 400;
}

body {
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.btn {
    outline: none;
    box-shadow:none !important;
}

.btn:hover {
    opacity: 0.5;
}

.container {
    text-align: center;
    padding-top: 15em;
}


